.DS_Store
node_modules
/dist/demo.html
/dist/DoccanoSequenceEditor.common.js
/dist/DoccanoSequenceEditor.common.js.map
/dist/DoccanoSequenceEditor.umd.js
/dist/DoccanoSequenceEditor.umd.js.map

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
